.Lenta {
	grid-area: cnt;

	width: 1000px;
	height: 1400px;
	background-color: white;
	margin-bottom: 100px;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 40fr 1fr;
	grid-template-areas: "head" "events" "pages";
	grid-row-gap: 10px;

	justify-items: center;
}

.head {
	grid-area: head;
	font-size: 2.5em;
}

.events {
	/* overflow-x: auto; */
	grid-area: events;
	height: 100%;
	width: 100%;
}

.pages {
	grid-area: pages;
	padding-bottom: 20px;
}

.page {
	display: inline-block;
	margin: 0 2px;
	padding: 10px;
}

.currentPage {
	background-color: gray;
}