.Event {
	height: 400px;
	width: 800px;
	background-color: gray;
	text-align: center;
	margin: 10px auto;
}

.name {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 2em;
    text-align: start;
}

.type {
    font-size: 1.2em;
    text-align: end;
    padding-right: 10px;
}

.info {
    text-align: start;
    padding: 10px;
}