.App {
  
  display: grid;
  
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 100%;
  grid-template-areas: "hdr" "nav" "search" "cnt";
  grid-row-gap: 15px;
  justify-items: center;
}
